# Compiled Java class files
*.class
/target/
/build/

# IDE-specific files
.idea/
*.iml
*.ipr
*.iws
.classpath
.project
.settings/
.vscode

# Log files
*.log

# Secrets and environment variables
.env
application-local.properties