server:
  port: 8080

# Eureka Client
eureka:
  client:
    serviceUrl:
      defaultZone: ${EUREKA_CLIENT_SERVICE_URL}

# Actuator
management:
  endpoints:
    web:
      exposure:
        include: "*"

spring:
  application:
    name: api-gateway
  cloud:
    gateway:
      server:
        webflux:
          # Enable CORS for all routes
          globalcors:
            corsConfigurations:
              "[/**]":
                allowedOrigins:
                  - "http://localhost:5173"
                  - "http://localhost:5174"
                  - "http://localhost:5175"
                allowedMethods:
                  - GET
                  - POST
                  - PUT
                  - DELETE
                allowedHeaders:
                  - "*"
                allowCredentials: true
                maxAge: 3600

          # Configure the API gateway server
          routes:
            - id: user-service-route
              uri: http://localhost:8081
              predicates:
                - Path=/api/users/**

            - id: restaurant-service-route
              uri: http://localhost:8082
              predicates:
                - Path=/api/restaurants/**

            - id: order-service-route
              uri: http://localhost:8083
              predicates:
                - Path=/api/orders/**

            - id: delivery-service-route
              uri: http://localhost:8084
              predicates:
                - Path=/api/drivers/**
