name: Docker Hub CI

on:
  pull_request:
    branches: ["master"]
  workflow_dispatch:

env:
  DOCKERHUB_USERNAME: minh020698
  IMAGE_TAG: ${{ vars.IMAGE_TAG || github.sha }}

jobs:
  build-backend-services:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          [
            api-gateway,
            user-service,
            restaurant-service,
            order-service,
            delivery-service,
          ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push ${{ matrix.service }}
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile
          push: true
          build-args: |
            SERVICE_NAME=${{ matrix.service }}
          tags: |
            ${{ env.DOCKERHUB_USERNAME }}/event-driven-food-delivery-${{ matrix.service }}:${{ env.IMAGE_TAG }}
            ${{ env.DOCKERHUB_USERNAME }}/event-driven-food-delivery-${{ matrix.service }}:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

  build-frontend:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Frontend
        uses: docker/build-push-action@v6
        with:
          context: .
          file: ./Dockerfile.frontend
          push: true
          tags: |
            ${{ env.DOCKERHUB_USERNAME }}/event-driven-food-delivery-frontend:${{ env.IMAGE_TAG }}
            ${{ env.DOCKERHUB_USERNAME }}/event-driven-food-delivery-frontend:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
