# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "master", "frontend-dev" ]
  pull_request:
    branches: [ "master" ]

env:
  DOCKERHUB_USERNAME: minh020698
  IMAGE_TAG: 0.0.1-SNAPSHOT

jobs:
  build:

    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: frontend

    strategy:
      matrix:
        node-version: [20.x, 22.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v4
    
    - name: Install pnpm
      uses: pnpm/action-setup@v4
      with:
        version: 8 # Specify desired pnpm version, or omit for latest
    
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
        cache-dependency-path: frontend/pnpm-lock.yaml

    - name: Install dependencies
      run: pnpm install
      
    - name: Build project
      run: pnpm build # Replace 'pnpm build' with your actual build command
    
    -
      name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ env.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    -
      name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    -
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - 
      name: Build and push Frontend
      uses: docker/build-push-action@v6
      with:
        file: ./Dockerfile.frontend
        push: true
        tags: |
          ${{ env.DOCKERHUB_USERNAME }}/event-driven-food-delivery-frontend:${{ env.IMAGE_TAG }}
          ${{ env.DOCKERHUB_USERNAME }}/event-driven-food-delivery-frontend:latest
        cache-from: type=gha
        cache-to: type=gha,mode=max